*.log/
.DS_Store
!.gitignore
.gitignore___jb_tmp___
*.exe
*.exe~
go-wiki
*.session/
.gowiki.sessions/
conf/go-wiki.conf
go-wiki.conf
release/
release-*
data/
install/install
install/install.exe
install.lock
.idea/
node_modules/